.footer {
  background: #E35336;
  color: white;
  text-align: center;
  padding: 20px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
