<div>
  <div class="road">
    <div class="dotted-line"></div>
  </div>
  <div class="bus-wrapper">
    <img
      class="moving-bus"
      src="/assets/images/msrtc_bus_type1.png"
      width="30"
      height="30"
      alt="Moving bus"
      style="margin: 0px 22px"
    />
    <img
      class="moving-bus-2 moving-bus--stagger"
      src="/assets/images/msrtc_bus_type2.png"
      width="30"
      height="30"
      alt="Moving bus"
      style="margin: -7px 22px"
    />
    <img
      class="moving-bus-2 moving-bus--stagger2"
      src="/assets/images/msrtc_bus_type3.png"
      width="30"
      height="30"
      alt="Moving bus"
      style="margin: 0px 22px"
    />
    <img
      class="moving-bus-2 moving-bus--stagger3"
      src="/assets/images/msrtc_bus_type4.png"
      width="30"
      height="30"
      alt="Moving bus"
      style="margin: 5px 22px"
    />
  </div>
</div>

<!-- <marquee
  onmouseover="this.stop()"
  onmouseout="this.start()"
  style="z-index: 1; position: absolute; bottom: 0"
>
  <ul class="list-inline pr">
    <li><img src="/assets/images/msrtc_bus_type1.png" title="MSRTC BUS" class="bussize" /></li>
    <li></li>
    <li><img src="/assets/images/msrtc_bus_type2.png" title="MSRTC BUS" class="bussize" /></li>
    <li></li>
    <li><img src="/assets/images/msrtc_bus_type3.png" title="MSRTC BUS" class="bussize" /></li>
    <li></li>
    <li>
      <img
        src="/assets/images/msrtc_bus_type4.png"
        title="निमआराम श्रेणीतील हिरकणी"
        class="bussize"
      />
    </li>
    <li></li>
    <li><img src="/assets/images/msrtc_bus_type5.png" title="MSRTC BUS" class="bussize" /></li>
    <li></li>
    <li><img src="/assets/images/msrtc_bus_type6.png" title="MSRTC BUS" class="bussize" /></li>
    <li></li>
    <li><img src="/assets/images/msrtc_bus_type7.png" title="MSRTC BUS" class="bussize" /></li>
  </ul>
</marquee> -->
<footer class="footer">
  <p>Copyright © 2026 LalPari ST Portal</p>

  <div class="footer-links">
    <a routerLink="/privacy-policy" href="/privacy-policy">Privacy Policy</a>
    <a routerLink="/terms-condition">Terms & Conditions</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
  </div>
</footer>
