<!-- Top Strip -->
<!-- <div class="top-strip">LalPari ST Portal</div> -->

<!-- Navbar -->
<header class="navbar">
  <div class="logo">🚌 LalPari Bus Portal</div>

  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/">Depots</a>
    <a routerLink="/">Routes</a>
  </nav>
</header>
<div>
  <div class="road">
    <div class="dotted-line"></div>
  </div>
  <div class="bus-wrapper">
    <img
      class="moving-bus"
      src="/assets/images/msrtc_bus_type1.png"
      width="30"
      height="30"
      alt="Moving bus"
      style="margin: 0px 22px"
    />
    <img
      class="moving-bus-2 moving-bus--stagger"
      src="/assets/images/msrtc_bus_type2.png"
      width="30"
      height="30"
      alt="Moving bus"
      style="margin: -7px 22px"
    />
    <img
      class="moving-bus-2 moving-bus--stagger2"
      src="/assets/images/msrtc_bus_type3.png"
      width="30"
      height="30"
      alt="Moving bus"
      style="margin: 0px 22px"
    />
    <img
      class="moving-bus-2 moving-bus--stagger3"
      src="/assets/images/msrtc_bus_type4.png"
      width="30"
      height="30"
      alt="Moving bus"
      style="margin: 5px 22px"
    />
  </div>
</div>
